@import "tailwindcss";

/* Definir tema base */
@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #1e293b;
  --color-bg: #f9fafb;
}

/* Reset y tipografía */
body {
  @apply bg-[--color-bg] text-[--color-secondary] font-sans;
}
